<div class="container-fluid">
   
    <div class="card m-auto continer-fluid my-2" style="width: 100%; border: none;">
        <div class="card-header bg-secondary" style="color: white;">
           <b>Quiz Details</b> 
        </div>
        <div class="card-body" >
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Quiz ID</th>
                    <th scope="col">Quiz Name</th>
                    <th scope="col">Questions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Week 1</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Week 2</td>
                    <td>5</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Week 3</td>
                    <td>5</td>
                    
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
   
   
</div>
