<ng-container>
  <div class="container-fluid p-0">
<div class="bg-div">
    <div class="welcome-container">
     <h3 style="text-align: center;color: white;padding-top: 24vh;">Select Your Group</h3>
      <div
        class="pt-1 mb-2 mt-2 d-flex welcome-container-type"
        style="text-align: center"
      >
       
        <button
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-primary bg-primary btn-lg btn-block apptype-btn"
          type="button"
          (click)="launchApp('OLD_NEW')"
        >
          <pre>
 Old Testament 
  + 
  New Testament </pre
          >
          <!-- <pre> పాత నిబంధన 
                 + 
            కొత్త నిబంధన</pre> -->
        </button>
        <button
          class=" mt-0 btn btn-primary bg-primary btn-lg btn-block apptype-btn"
          type="button"
          (click)="launchApp('NEW')"
        >
          <pre>New Testament</pre>
          <!-- <pre>కొత్త నిబంధన</pre> -->
        </button>
      </div>
    </div>
   <!-- <img src="/assets/images/founder.png" alt="founder" width="24" height="24"> -->
    <!-- <div class="about">
      <a routerLink="/bible-study/about"><h3>About Us</h3></a>
      
    </div> -->
  </div>
  </div>
  
</ng-container>
