.list-group {
    .list-group-item {
        border: none;
    }
}
.options {
    padding: 0px;
}
.timer {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
.danger {
    color: red;
}