.title {
    background-color: #002349 !important;
    color: #fff;
    // position: fixed;
    padding: 8px;
    top: 0;
    width: 100%;
}
.registration-container {
    // margin-top: 35% !important;
    height: 80vh;
    overflow-y: auto;
    // transform: translateY(-50%);
}
.register-btn {
    background-color: #002349;
    border-color: #002349;
}
.alert {
    text-align: center;
}
.alert-heading {
    text-align: center;
}
.copy-text {
    cursor: pointer;
    color: #002349;
    text-decoration: underline;
}
.prayer-request-btn {
    background-color: #002349 !important;
    color: white;
    border-radius: 0px !important;
    margin-left: 50% !important;
    transform: translateX(-50%);
    border-radius: 10px !important;
}