<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black m-auto">
  
          <div class="px-5 ms-xl-4 my-5" style="text-align: center;">
            <span class="h2 fw-bold mb-0">{{ appType === 'OLD_NEW' ? 'OLD + NEW Testaments': 'New Testament'}}</span>
           <p><strong>Login</strong></p> 
            
          </div>
          <img src="assets/images/logo.png" alt="" width="150" height="150" class=" d-inline-block my-3" style="text-align: center;
          margin-left: 50%;
          transform: translateX(-50%);">
          <div class="d-flex align-items-center justify-content-center h-custom-2 px-5 ms-xl-4 mt-3 pt-xl-0 mt-xl-n5">
  
            <form style="width: 23rem;">
  
              <!-- <h3 class="fw-normal  pb-3" style="letter-spacing: 1px; text-align: center;">Log in</h3> -->
  
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="fullName">Full Name</label>
                <input type="text" [(ngModel)]="fullName" [ngModelOptions]="{standalone: true}" id="fullName" class="form-control form-control-lg" />
                
              </div>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="regId">Registration ID</label>
                <input type="text" [(ngModel)]="regID" [ngModelOptions]="{standalone: true}" id="regId" class="form-control form-control-lg" />
              </div>
  
              <div class="pt-1 mb-4" style="text-align: center;">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary bg-primary btn-lg btn-block" type="button" (click)="login()">Log In</button>
              </div>
              <div class="pt-1 mb-4 mt-4" style="text-align: center">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary bg-primary btn-lg btn-block" type="button" (click)="goBack()">Go To Welcome Page</button>
              </div>
            </form>
  
          </div>
  
        </div>
       
      </div>
    </div>
  </section>
  <!-- <footer style="position: block;
  margin-top: 52px;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);text-decoration: underline;">
  <pre><i>Believers Eastern Church
Kamalapur</i></pre>
  </footer> -->
  <div class="spinner-border text-primary" role="status" *ngIf="loader" style="position: absolute;
  top: 76%;
  left: 47%;
  scale: 2;">
  </div>