<div id='gfg'>
    <tabset class="mt-3 custom-tabs">
        <tab class="col p-0" heading="Daily Quiz">
            <app-rank-details></app-rank-details>
        </tab>
        <tab class="col p-0" heading="Online Quiz">
            <app-online-quiz-leaderboard></app-online-quiz-leaderboard>
        </tab>
        <!-- <tab class="col p-0" heading="Weekly Puzzle">
            <app-weekly-puzzle-leaderboard></app-weekly-puzzle-leaderboard>
        </tab> -->
        <tab class="col p-0" heading="Final Exam">
           <app-online-final-exam-leader-board></app-online-final-exam-leader-board> 
        </tab>
    </tabset>

    <div class="pt-1 mt-2 mb-4" style="text-align: center; width: 200px;margin: auto;margin-top: 5vh;margin-bottom: 5vh !important;">
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary bg-primary btn-lg btn-block" type="button" (click)="goBack()">Go To Dashboard</button>
      </div>
</div>