.footer {
    // position: fixed;
    margin-bottom: 5vh;
    margin-top: 10vh;
    // left: 50%;
    // transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}