.disable {
    pointer-events: none;
    background-color: lightgray;
}
.custom-tab-online-ranks {
    height: 60vh;
    overflow-y: auto;
}
.custom-border {
    border: 1px solid #002349;
    padding-left: 8px;
    padding-right: 8px;
}
.bg-primary {
    color: #fff !important;
}