<div class="container-fluid pt-2" style="height: 90vh;overflow:hidden">

  <tabset class="p-0 ml-0 mr-0 custom-tabs">
    <tab class="col p-0" heading="Online Quiz ">
      <div class="custom-border">
        <div class="row m-2">
          <p class="col card-title text-align-center mb-3" style="text-align: center;font-weight: bold;">BIBLE QUIZ
            CHAPTERS</p>
        </div>
        <div class="spinner-border text-primary" role="status" *ngIf="loader" style="position: absolute;
      top: 46%;
      left: 47%;
      scale: 2;">
        </div>
        <div class="card-body custom-tab-online-ranks">
          <ul class="list-group" style="height: 60vh;overflow-y: auto;">
            <li *ngFor="let option of getChapters()" class="list-group-item" [class.disable]="checkQuizOption(option)"
              (click)="launchQuiz(option)">
              {{ option }}
              <span style="margin-left: 10%; font-size: 20px;border-radius: 100%;"
                [ngStyle]="{color: getFontColor(option)}"><strong>
                  {{chapterScore(option)}}
                </strong></span>
              <i style="float: right;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="#0d6efd"
                  class="bi bi-play-circle-fill" viewBox="0 0 20 20">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z" />
                </svg>
              </i>
            </li>
          </ul>
        </div>
      </div>

    </tab>
    <tab class="col p-0" heading="Online Quiz Ranks">
      <div class="custom-border">
        <div class="row mt-2 pt-1 pb-1 bg-primary" style="margin: 12px 8px 0px 8px;">
          <span class="col-6 pr-0">Registration ID</span>
          <span class="col-3 pr-0 text-start">Marks</span>
          <span class="col-3 pr-0">Rank</span>
        </div>
        <div class="custom-tab-online-ranks">
          <app-online-quiz-leaderboard></app-online-quiz-leaderboard>
        </div>
      </div>


    </tab>
  </tabset>

  <button data-mdb-button-init data-mdb-ripple-init
    class="btn btn-primary bg-primary btn-sm btn-block dashboard-btn mt-3 mb-3" type="button" (click)="goToDashboard()"
    style="margin-left: 50%;transform: translateX(-50%);padding-top: 8px;">Go To
    Dashobard</button>
</div>