<div class="about-us-header mt-1">
  <strong>Privacy Policy</strong>
</div>
<div class="container mt-4">


  <p><strong>Voice Of Jesus</strong> respects your privacy.</p>

  <h3>Information Collection and Use</h3>
  <p>
    We may collect limited personal information such as name or contact details
    when voluntarily provided by users.
  </p>

  <h3>Data Storage</h3>
  <p>
    Data is securely stored using Firebase services. We do not sell or share
    personal information with third parties.
  </p>

  <h3>Internet Usage</h3>
  <p>
    Internet access is required to load and sync content.
  </p>

  <h3>Children’s Privacy</h3>
  <p>
    This app is not intended for children under 13.
  </p>

  <h3>User Rights</h3>
  <p>
    Users may request data deletion by contacting us.
  </p>

  <h3>Contact</h3>
  <p>
    Email: ministryjesusvoice@gmail.com
  </p>
</div>
