<!-- <app-header></app-header> -->
<div class="continer-fluid my-2">
    <tabset > 
        <tab heading="Users List"> 
            <app-user-managment></app-user-managment>
        </tab> 
        <tab heading="Add User"> 
            <app-add-user></app-add-user>
        </tab> 
        <tab heading="Questions List"> 
           <app-quiz-managment></app-quiz-managment>
        </tab> 
        <tab heading="Add Quiz"> 
           <app-add-quiz></app-add-quiz>
        </tab> 
        <tab heading="Get Result"> 
           <app-result></app-result>
        </tab> 
    </tabset> 
</div>