.accordion-toggle {
   .btn-link {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
}
.list-group {
    height: 250px;
    overflow: auto;
}
.dashboard-btn {
    font-size: 14px;
}
.footer {
    font-size: 12px;
    font-weight: bold;
}
.margin-20vh {
    margin-bottom: 20vh;
}
.form-check-input {
    border: 1px solid #002349;
}