/* You can add global styles to this file, and also import other style files */
.accordion-toggle {
    .btn-link {
         text-decoration: none;
         font-weight: bold;
         color: white;
     }
 }
 .panel-heading {
    background-color: #6c757d;
    padding-left: 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
 }
 .pannel-group,.panel {
    border-radius: 0px;
 }
 .panel-body {
   //  background: lightblue;
 }
 .carousel-indicators {
    margin-bottom:-16px;
 }
 .modal-content {
   margin-top: 50%;
 }