/* You can add global styles to this file, and also import other style files */
.bg-primary {
   background-color: #002349 !important
   // background-color: rgb(1 11 22) !important
}
.bg-secondary {
   background-color: #002349 !important
}

.accordion-toggle {
    .btn-link {
         text-decoration: none;
         font-weight: bold;
         color: white;
     }
 }
 .panel-heading {
    background-color: #6c757d;
    padding-left: 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
 }
 .pannel-group,.panel {
    border-radius: 0px;
 }
 .panel-body {
   //  background: lightblue;
 }
 .carousel-indicators {
    margin-bottom:-16px;
 }
 .modal-content {
   margin-top: 50%;
 }
 .schedule-modal-content {
   margin-top: 10% !important;
 }
 .text-primary {
   color: #002349 !important;
   border:var(--bs-spinner-border-width) solid #002349 !important;
 }
 .active-user {
    background-color: #002349 !important;
    color: white !important;
}
.custom-tabs {
   
   font-weight: bold;
    .nav-tabs {
         border-top: 2px solid white;
         background-color: #002349 !important;
         color: white !important;
      .nav-item a {
         color: white !important;
      }
      .active a {
         color: #002349 !important;
      }
    }
  
}
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
   background-color: #002349 !important;
   border: none !important;
}
.fc-day-today.active-day {
  background-color: #002349 !important;
  --background-color: #002349 !important;
  --fc-today-bg-color: #002349 !important;
  color: #fff !important;
}
.fc .disabled-day {
  pointer-events: none;
  background-color: #d1cfcf;
  opacity: 0.5;
}
.fc-theme-standard td, .fc-theme-standard th {
   border-color: #002349 !important;
}
.fc .future-day {
  pointer-events: none !important;
//   opacity: 0.35;
//   background-color: #f5f5f5;
}
.fc-daygrid-day-number {
   color: #002349;
}
.fc .selected-day {
  background-color: #0d6efd !important;
  color: #fff;
  font-weight: bold;
}
@font-face {
   font-family: 'NTR Regular';
   src: url('/assets/fonts/NTRRegular.otf') format('trueType'),
          url('/assets/fonts/NTRRegular.otf') format('trueType');
   font-weight: normal;
   font-style: normal;
}

* {
   font-family: 'NTR Regular', sans-serif;
}
.form-check-input[type=radio] {
   border-color: #002349 !important;
}
.seo-hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
