/* You can add global styles to this file, and also import other style files */
.bg-primary {
   background-color: #002349 !important
   // background-color: rgb(1 11 22) !important
}
.bg-secondary {
   background-color: #002349 !important
}

.accordion-toggle {
    .btn-link {
         text-decoration: none;
         font-weight: bold;
         color: white;
     }
 }
 .panel-heading {
    background-color: #6c757d;
    padding-left: 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
 }
 .pannel-group,.panel {
    border-radius: 0px;
 }
 .panel-body {
   //  background: lightblue;
 }
 .carousel-indicators {
    margin-bottom:-16px;
 }
 .modal-content {
   margin-top: 50%;
 }
 .text-primary {
   color: rgb(1 11 22) !important;
   border:var(--bs-spinner-border-width) solid rgb(1 11 22) !important;
 }
 .active-user {
    background-color: rgb(1 11 22) !important;
    color: white !important;
}
.custom-tabs {
   
   font-weight: bold;
    .nav-tabs {
         border-top: 2px solid white;
         background-color: rgb(1 11 22) !important;
         color: white !important;
      .nav-item a {
         color: white !important;
      }
      .active a {
         color: rgb(1 11 22) !important;
      }
    }
  
}