<div class="container-fluid">
    <button class="btn btn-block bg-primary my-3" style="color: white;">Add User</button>
    <div class="card m-auto continer-fluid my-2" style="width: 100%; border: none;">
        <div class="card-header bg-secondary" style="color: white;">
           <b>User Details</b> 
        </div>
        <div class="card-body" >
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Registration ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Village Name</th>
                    <th scope="col">Church Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mote Kumar</td>
                    <td>Hyderabad</td>
                    <td>Believers Church Kamalapur</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
   
   
</div>
